.formulario{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    padding: 45px;
}